{% extends 'adminlte/adminlte_signup_login.html' %}

{% block content %}
<div class="login-box">
  <!-- /.login-logo -->
  <div class="card card-outline card-primary">
    <div class="card-header text-center">
      {% if store.store_image %}
        <a href="{% url 'dashboard' %}" class="h1"><img src="{{ store.store_image.url }}" class="img-fluid" width="120px" height="55px" /></a>
      {% else %}
        <a href="{% url 'dashboard' %}" class="h1"><b>Dream</b>STORE</a>
      {% endif %}
    </div>
    <div class="card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form  method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.email }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8">

          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <!-- social-auth-links -->
      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a href="{% url 'forgotPassword' %}">I forgot my password</a>
      </p>
      <p class="mb-0">
        <a href="{% url 'register' %}" class="text-center">Register a new membership</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->


{% endblock %}

