{% load static %}
    <nav class="panel-menu mobile-main-menu">
        <ul>
            <li>
                <a href="index.html">HOME</a>
            </li>

            <li><a href="index-rtl.html">RTL</a></li>
        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">Close</div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>

    <nav class="panel-menu mobile-caterorie-menu">
        <ul>

            {% for link in links %}
                <li>
                    <a href="{{ link.get_absolute_url }}">
                        <i class="icon-women"></i>
                        <span>{{ link.category_name }}</span>
                    </a>
                    {% if link.children.all %}

                        <ul>
                            {% for mid_cat in link.children.all %}
                                <li>
                                    <a href="{{ mid_cat.get_absolute_url }}">{{ mid_cat.category_name }}</a>
                                    {% if mid_cat.children.all %}
                                       <ul>
                                        {% for sub_cat in mid_cat.children.all %}
                                            <li>
                                                <a href="{{ sub_cat.get_absolute_url }}">{{ sub_cat.category_name }}</a>
                                            </li>
                                        {% endfor %}
                                       </ul>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                    {% endif %}
                </li>

            {% endfor %}

        </ul>
        <div class="mm-navbtn-names">
            <div class="mm-closebtn">Close</div>
            <div class="mm-backbtn">Back</div>
        </div>
    </nav>