{% extends 'base.html' %}
{% load math_filters %}


{% block content %}
<div class="tt-breadcrumb">
    <div class="container">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>Account</li>

        </ul>
    </div>
</div>
<div id="tt-pageContent">
    <div class="container-indent">
        <div class="container container-fluid-custom-mobile-padding">
            <h1 class="tt-title-subpages noborder"> Order Details</h1>
            <div class="row">
                <div class="col-12 ">
                    <h3>Order Summary</h3>

                    <div class="card card-lg border">
                        <div class="card-body">

                            <!-- Content -->
                            <div class="row">

                                <div class="col-12 col-md-4 p-3">

                                    <!-- Heading -->
                                    <p class="mb-4 font-weight-bold">
                                        Shipping Address:
                                    </p>

                                    <p class="mb-7 mb-md-0 text-gray-500">
                                        {{ order.full_name }}, <br>
                                        {{ order.address_line_1 }} <br>
                                        {{ order.state }}, {{ order.city }}, <br>
                                        {{ order.country }}, <br>
                                        <b>{{ order.phone }}</b>
                                    </p>

                                </div>
                                <div class="col-12 col-md-4">

                                    <!-- Heading -->
                                    <p class="mb-4 font-weight-bold">
                                        Paid:
                                    </p>

                                    <p class="mb-0 text-gray-500">
                                    <h4>{{ paid }}</h4>
                                    </p>

                                </div>
                                <div class="col-12 col-md-4">

                                    <!-- Heading -->
                                    <p class="mb-4 font-weight-bold">
                                        Payable:
                                    </p>

                                    <p class="mb-0 text-gray-500">
                                    <h4>{{ order.order_total|add:order.shipping_cost| subtract:paid|floatformat:2 }}</h4>
                                    </p>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-8">
                    <h1 class="">Order Item</h1>
                    <table class="tt-table-shop-01">
                        <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for op in order_detail %}
                        <tr>
                            <td>
                                {{ op.product.product_name }}
                                <div>
                                    {% if op.variations.all %}
                                    {% for item in op.variations.all %}
                                    {{ item.variation_category|capfirst }} : {{ item.variation_value|capfirst }}
                                    <br>
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ op.quantity }}</td>
                            <td>{{ op.product_price}}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="card card-lg mt-5 mb-5 w-25">
                        <div class="card-body">

                            <table class="tt-table-shop-02">
                                <tbody>
                                    <tr>
                                        <th>Subtotal:</th>
                                        <td>{{ subtotal }}/=</td>
                                    </tr>
                                    <tr>
                                        <th>Tax:</th>
                                        <td>{{ order.tax }}/=</td>
                                    </tr>
                                    <tr>
                                        <th>Shipping:</th>
                                        <td>{{ order.shipping_cost }}/=</td>
                                    </tr>
                                    <tr>
                                        <th>Total</th>
                                        <td>${{ order.order_total|add:order.shipping_cost }}</td>
                                    </tr>
                                </tbody>

                            </table>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}