{% extends "adminlte/adminlte.html" %}


{% block title %} All Reviews  | {{ block.super }}{% endblock %}

{% block content %}


{% include 'adminlte/comp/content_header.html' with Header="Review and Rating List" %}

<div class="container">
    {% include 'adminlte/comp/alert.html' %}
    <div class="row justify-content-center">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">All Reviews</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right"
                                       placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product</th>
                                <th>Subject</th>
                                <th>Ratings</th>
                                <th>Review</th>
                                <th>User</th>
                                <th>IP</th>
                                <th>Public</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>

                          {% for review in review_rating_list %}
                            <tr>
                                <td>{{ review.id }}</td>
                                <td>{{ review.product.product_name }}</td>
                                <td>{{ review.subject }}</td>
                                <td>{{ review.rating }}</td>
                                <td>{{ review.review }}</td>
                                <td>{{ review.user.full_name }}</td>
                                <td>{{ review.ip }}</td>
                                <td>{{ review.status }}</td>
                                <td>{{ review.created_at }}</td>
                                <td>
                                     <form action="{% url 'delete_rating' review.id %}" method="POST">{% csrf_token %}
                                        <a href="{% url 'edit_rating' review.id %}" class="btn btn-sm btn-primary"><i class="fas fa-pen"></i></a>
                                        <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" >
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>

                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        {% include 'adminlte/comp/pagination.html' %}
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
{% endblock %} 