{% extends "adminlte/adminlte.html" %}


{% block title %} Store Settings  | {{ block.super }}{% endblock %}

{% load widget_tweaks %}

{% block content %}


{% include 'adminlte/comp/content_header.html' with Header="Store Settings" %}

<div class="container">

    {% include 'adminlte/comp/alert.html' %}

    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <div class="card card-info">
                <div class="card-header">Store Settings</div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">{% csrf_token %}

                        {% for field in setting_form %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|add_class:'form-control' }}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-sm float-right">Update Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 