{% extends "adminlte/adminlte.html" %}


{% block title %} Change Password  | {{ block.super }}{% endblock %}

{% block content %}


{% include 'adminlte/comp/content_header.html' with Header="Profile Update" %}

<div class="container">
    <div class="row">
        {% include 'adminlte/comp/alert.html' %}
        <!-- Main -->
        <div class="col-12 col-md-9 col-lg-8 offset-lg-1">
            <div class="card card-info">
                <div class="card-header">Update Your Profile</div>
                <div class="card-body">

                    <!-- Form -->
                    <form method="POST">{% csrf_token %}
                        <div class="row">


                            <div class="col-12 col-md-12">
                                <!-- Password -->
                                <div class="form-group">
                                    <label for="accountPassword">
                                        Current Password *
                                    </label>
                                    <input class="form-control form-control-sm" name="current_password"
                                           id="accountPassword"
                                           type="password"
                                           placeholder="Current Password *" required>
                                </div>
                            </div>

                            <div class="col-12 col-md-12">
                                <!-- Password -->
                                <div class="form-group">
                                    <label for="AccountNewPassword">
                                        New Password *
                                    </label>
                                    <input class="form-control form-control-sm" name="new_password"
                                           id="AccountNewPassword"
                                           type="password"
                                           placeholder="New Password *" required>
                                </div>
                            </div>

                            <div class="col-12 col-md-12">
                                <!-- Password -->
                                <div class="form-group">
                                    <label for="ConfirmAccountNewPassword">
                                        Confirm New Password *
                                    </label>
                                    <input class="form-control form-control-sm" name="confirm_password"
                                           id="ConfirmAccountNewPassword" type="password"
                                           placeholder="New Password *" required>
                                </div>
                            </div>


                            <div class="col-12">

                                <!-- Button -->
                                <button class="btn btn-sm btn-primary float-right" type="submit">Save Changes</button>

                            </div>
                        </div>
                    </form>
                </div><!-- / Main Container -->
            </div>
        </div>
    </div>
</div>
{% endblock %}



