{% extends "adminlte/adminlte.html" %}


{% block title %} All Orders  | {{ block.super }}{% endblock %}

{% load order_info_tags %}
{% block content %}


{% include 'adminlte/comp/content_header.html' with Header="All Orders" %}


<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        {% pending_order %}
        <!-- ./col -->
        {% approved_order %}
        <!-- ./col -->
        {% shipped_order %}
        <!-- ./col -->
        {% delivered_order %}
        <!-- ./col -->
    </div>
</div>
<div class="container">
    {% include 'adminlte/comp/alert.html' %}
    <div class="row">
        <div class="col-12">
            <div class="col-12">
                <div class="card card-info">
                    <div class="card-header">
                        <h3 class="card-title">Order List</h3>

                        <div class="card-tools">
                            <form method="GET">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="search" class="form-control float-right"
                                       placeholder="Search">

                                <div class="input-group-append">
                                        <button type="submit" class="btn btn-default">
                                            <i class="fas fa-search"></i>
                                        </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Order Number</th>
                                <th>Purchased on</th>
                                <th>Ship To</th>
                                <th>Shipping Area</th>
                                <th>Status</th>
                                <th> Total </th>
                                <th>Actions</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for order in order_list %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>{{ order.order_number}}</td>
                                <td>{{ order.created_at }}</td>
                                <td>{{ order.full_name }}</td>
                                <td>{{ order.city }}</td>

                                <td><span class="badge
                                {% if order.status == 'Pending' %} bg-danger
                                    {% elif order.status == 'Approved' %} bg-info
                                    {% elif order.status == 'Shipped' %} bg-primary
                                    {% elif order.status == 'Delivered' %} bg-success
                                    {% endif %}
                                    ">{{ order.status }}</span></td>

                                <td> <b>{{ order.order_total|floatformat:2 }} </b> </td>
                                <td>
                                    <form action="{% url 'delete_order' order.id %}" method="POST">{% csrf_token %}
                                        <a href="{% url 'edit_order' order.id %}" class="btn btn-sm btn-primary"><i class="far fa-eye"></i></a>
                                        <button type="submit" class="btn btn-sm btn-danger"
                                                onclick="return confirm('Are you sure you want to delete this item?');">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        {% include 'adminlte/comp/pagination.html' %}
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</div>
{% endblock %} 