{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="container-indent nomargin">
		<div class="container-fluid">
			<div class="row">
				<div class="slider-revolution revolution-default">
					<div class="tp-banner-container">
						<div class="tp-banner revolution">
							<ul>
								{% for slide in slides %}
								<li data-thumb="{{ slide.image.url }}" data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off"  data-title="Slide">
									<img src="{{ slide.image.url }}"  alt="slide1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" >
									<div class="tp-caption tp-caption1 lft stb"
										data-x="center"
										data-y="center"
										data-hoffset="0"
										data-voffset="0"
										data-speed="600"
										data-start="900"
										data-easing="Power4.easeOut"
										data-endeasing="Power4.easeIn">
										<div class="tp-caption1-wd-1 tt-white-color">{{ slide.title }}</div>
										<div class="tp-caption1-wd-2 tt-white-color">{{ slide.short_description | safe }}</div>
										<div class="tp-caption1-wd-3">{{ slide.long_description | safe }}</div>
										<div class="tp-caption1-wd-4"><a href="{% url 'store' %}" class="btn btn-dark btn-xl" data-text="SHOP NOW!">SHOP NOW!</a></div>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h1 class="tt-title">OUR COLLECTIONS</h1>
				<div class="tt-description">SUMMER 2018</div>
			</div>
			<div class="tt-carousel-products row arrow-location-tab arrow-location-tab01 tt-alignment-img tt-collection-listing slick-animated-show-js">
				{% for cat in links %}
				<div class="col-2 col-md-4 col-lg-3">
					<a href="{{ cat.get_absolute_url }}" class="tt-collection-item">
						<div class="tt-image-box"><img src="{% static 'assets/images/product/product-20.jpg' %}" alt=""></div>
						<div class="tt-description">
							<h2 class="tt-title">{{ cat.category_name }}</h2>
							<ul class="tt-add-info">
								<li>{{ cat.cats.count }} PRODUCTS</li>
							</ul>
						</div>
					</a>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title">
				<h2 class="tt-title">TRENDING</h2>
				<div class="tt-description">TOP VIEW IN THIS WEEK</div>
			</div>
			<div class="row tt-layout-product-item">
				{% for product in products %}
				<div class="col-6 col-md-4 col-lg-3">
					<div class="tt-product thumbprod-center">
						<div class="tt-image-box">
							<a href="{{ product.get_url }}">
								<span class="tt-img"><img src="{% static 'asset/images/loader.svg' %}" data-src="{{ product.images.url }}" alt=""></span>
								<span class="tt-img-roll-over"><img src="{% static 'asset/images/loader.svg' %}" data-src="{% static 'asset/images/product/product-05-02.jpg' %}" alt=""></span>
								<span class="tt-label-location">
									<span class="tt-label-new">New</span>
								</span>
							</a>
						</div>
						<div class="tt-description">
							<div class="tt-row">
								<ul class="tt-add-info">
									<li><a href="#">{{ product.category.category_name }}</a></li>
								</ul>
								<div class="tt-rating">
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star"></i>
									<i class="icon-star-half"></i>
									<i class="icon-star-empty"></i>
								</div>
							</div>
							<h2 class="tt-title"><a href="product.html">{{ product.product_name }}</a></h2>
							<div class="tt-price">
								${{ product.price }}
							</div>
							<div class="tt-product-inside-hover">
								<div class="tt-row-btn">
									<a href="{{ product.get_absolute_url }}" class="tt-btn-addtocart thumbprod-button-bg">View</a>
									<!-- missing download -->
								</div>

							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container">
		</div>
	</div>

	<div class="container-indent">
		<div class="container-fluid">
			<div class="tt-block-title">
				<h2 class="tt-title"><a href="https://www.instagram.com/wokieeshop/">@ FOLLOW</a> US ON</h2>
				<div class="tt-description">INSTAGRAM</div>
			</div>
			<div class="row">
				<div id="instafeed" class="instafeed-fluid"
					data-accessToken="8626857013.dd09515.0fcd8351c65140d48f5a340693af1c3f"
					data-clientId="dd095157744c4bd0a67181fc4906e5b6"
					data-userId="8626857013"
					data-limitImg="6">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
